body{
    margin: 0;
}
.cards{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}
.titulo{
    text-align: center;
    margin-top: 100px;
}
hr{
    width: 400px;
    margin-left: 730px;
}
img{
    height: 200px;
    object-fit: cover;
}
header{
    background-color: #3b3a3a;
}
.nav-link{
    color: white;
}
